.rightAnimation {
  animation: rightAnimation linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes rightAnimation {
  from {
    display: none;
    transform: translateX(50px);
  }

  to {
    display: flex;
    transform: translateX(0px);
  }
}

.leftAnimation {
  animation: leftAnimation linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes leftAnimation {
  from {
    display: none;
    transform: translateX(-50px);
  }

  to {
    display: flex;
    transform: translateX(0px);
  }
}

.heroRightAnimation {
  position: relative;
  animation-name: heroRightAnimation;
  animation-duration: 2s
}

@keyframes heroRightAnimation {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.heroLeftAnimation {
  position: relative;
  animation-name: heroLeftAnimation;
  animation-duration: 2s;
}

@keyframes heroLeftAnimation {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fadeAnimation {
  animation-name: fadeAnimation;
  animation-duration: 5s;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeViewAnimation {
  animation: fadeViewAnimation linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes fadeViewAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.yRotateAnimation {
  animation: yRotateAnimation linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes yRotateAnimation {
  from {
    opacity: 0;
    transform: rotateY(90deg) translateY(100px);
  }

  to {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}

.flipAnimation {
  animation: flipBottomUp3D linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes flipBottomUp3D {
  from {
    opacity: 0;
    transform: rotateX(90deg)
  }

  to {
    opacity: 1;
    transform: rotateX(0deg)
  }
}

.zoomInAnimation {
  animation: zoomIn 1s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}