.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: white;
}

.btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #00BFFF;
    color: white;
    font-weight: 500;
}