@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-[white]
}

:root {
    --font-poppins: 'poppins sans', antialiased;
}

body {
    font-family: var(--font-poppins);
}

.heroHeading {
    font-family: cursive;
    font-weight: bold;
}

.h1 {
    font-family: cursive;
    font-weight: bold;
}


.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #008afb;
}

.container {
    background: white;
    box-shadow: 0 0 12px #00000028;
    border-radius: 10px;
    /* width: 100% */
}

.roundContainer {
    background: white;
    box-shadow: 0 0 12px #00000034;
    border-radius: 50%;
    /* width: 100% */
}

.para {
    padding: 5px;
    color: gray;
    text-align: justify;
}

.mPara {
    color: gray;
    text-align: justify;
    font-size: 13px;
}


.btn {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%)
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    body{
        /* background-color: red; */
    }

    .mediaReorder{
        display: none;
    }

    .mediaNav{
        display: none;
    }

    .mediaServiseCards, .mediaSkilCards,.mediaStepCards{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap:10px;
    }

    .mediaPara,.mediaArrowAnimation,.mediaEmailInput,.mediaSkilAnimation,.mediaSubscribeAnimation,.mediaHeroBgImage,.mediaQuestionImage{
        display: none;
    }

    .mediaSubsribeTextInput{
        width: 300px;
    }

    .mediaHeroBg{
        height: auto;
    }

    .mediaHeroHeading{
        font-size: 40px;
        font-family:Arial, Helvetica, sans-serif;
    }

    .mediaHero{
height: auto;
background-color: rgb(193, 234, 250);
    }
    .mediaHeroSub{
        margin-top: 50px;
        padding: 32px;
        gap: 15px;
    }

    .mediaGap{
        gap:10px;
        padding-bottom: 0;
    }

    .mediaStepCards{
        width: 2px;
        height: auto;

    }

    .mediaStepsMain{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .mediaQutionsContainer{
        height: auto;
        width: 700px;
        box-shadow:none;
        border-radius: 0;
    }

    .mediaGapQuestions{
        gap:10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .mediaParaQuery{
        padding: 10px
    }
}
